$clr-prim-100: hsl(300, 43%, 22%);
$clr-prim-200: hsl(333, 80%, 67%);

$clr-neutral-100: hsl(303, 10%, 53%);
$clr-neutral-200: hsl(300, 24%, 96%);
$clr-neutral-300: hsl(0, 0%, 100%);

$font-family: 'League Spartan', sans-serif;


/* General Styling */

body {
    font-family: $font-family;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Background */

main {
    width: 100vw;
    height: 100vh;
    background: top left / 40% no-repeat url(../images/bg-pattern-top-desktop.svg),
                bottom right / 75% no-repeat url(../images/bg-pattern-bottom-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer, #mobile-attribution {
    position: absolute;
    bottom: 0;
    color: $clr-prim-100;
    a, a:link, a:visited {
        color: $clr-prim-200;
    }
}

#mobile-attribution {
    display: none;
}

/* Main Card Styling */

.social-proof-card {
    width: 75%;
    display: flex;
    flex-direction: column;
}

/* Top Part Styling */

.top, .reviews {
    display: flex;
}

.top > * {
    flex: 1;
}

h1, p, li {
    color: $clr-prim-100;
}

h1 {
    font-size: 3.07rem;
    width: 325px;
    line-height: 2.75rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.copy p {
    width: 380px;
}

ul {
    margin-top: 1.5rem;
    list-style: none;
    padding: 0;
    li {
        display: flex;
        align-items: center;
        background: $clr-neutral-200;
        margin-top: 1rem;
        border-radius: .3rem;
        width: 75%;
        font-weight: 700;
    }
    & li:nth-child(2) {
        margin-left: 2.5rem;
    }

    & li:last-child {
        margin-left: 5rem;
    }

    .stars {
        width: 100px;
        height: 1rem;
        background: space url(../images/icon-star.svg);
        margin: 0 1.5rem;
    }

    p {
        margin-right: 1rem;
    }
}

/* Bottom Part */

.reviews {
    justify-content: space-between;
    margin-top: 2rem;
    img {
        border-radius: 50%;
        float: left;
        max-width: 2.75rem;
        margin-right: 1rem;
    }
    & > *:nth-child(2) {
        margin-top: 1rem;
    }

    & > *:last-child {
        margin-top: 2rem;
    }
}

.reviews > * {
    background: $clr-prim-100;
    width: 32%;
    box-sizing: border-box;
    border-radius: .5rem;
    padding: 1.85rem;
    height: 12.5%;
}

.reviews p {
    color: $clr-neutral-300;
    font-weight: 500;
}

p.status {
    color: $clr-prim-200;
    margin-top: .15rem;
}

p.name {
    margin-bottom: .15rem;
}

p.comment {
    margin: 2rem auto 0 auto;
    height: 72px;
}

/* Media Queries */

@media screen and (max-width: 1338px) {
    p.comment {
        height: 90px;
    }
}

@media screen and (max-width: 1145px) {
    p.comment {
        height: 108px;
    }
}

@media screen and (max-width: 1110px) {
    ul {
        .stars {
            margin: 0 .5rem;
        }
        p {
            margin-right: .5rem;
        }
    }
}

@media  screen and (max-width: 1020px) {
    .profile-card {
        padding: 1.5rem;
    }
}

@media  screen and (max-width: 990px) {
    .social-proof-card {
        width: 90%;
    }
}

@media  screen and (max-width: 830px) {
    .social-proof-card {
        width: 95%;
    }
}

@media  screen and (max-width: 780px) {
    main {
        height: 100%;
        position: relative;
        background: top left / 40% no-repeat url(../images/bg-pattern-top-mobile.svg),
                    bottom right / no-repeat url(../images/bg-pattern-bottom-mobile.svg);
        }
    .social-proof-card {
        height: 100%;
        width: 87.5%;
        min-width: 330px;
    }

    .top {
        flex-direction: column;
        align-items: center;
        .ratings {
            width: 100%;
        }
        ul li {
            width: 100%;
            margin-left: unset;
            display: block;
            text-align: center;
            padding: 1rem 0;
        }
        .stars {
            margin: 0 auto;
        }
        .ratings p {
            margin: .75rem 0 0 0;
        }
        .copy p {
            width: 275px;
            text-align: center;
        }
        h1 {
            font-size: 2rem;
            width: 235px;
            text-align: center;
            line-height: 1.75rem;
            margin-top: 4rem;
        }
    }
    .reviews {
        flex-direction: column;
        align-items: center;
    }
    .profile-card {
        width: 100%;
        height: unset;
    }
    p.comment {
        height: unset;
    }

    .reviews > *:last-child {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    footer {
        display: none;
    }

    #mobile-attribution {
        display: unset;
    }
}